<app-emcabezado-menu></app-emcabezado-menu>
<!-- -->
<div class="content-wrapper">   
    <div class="container-fluid">

        <div class="card border-info mb-3" >
            <div class="card-header ">
                <div class="Centrado">
                    <h1>Te damos la bienvenida: {{infoUser.name}}</h1>
                </div>                
            </div>            
        </div>  
        <br>   
   </div>
</div>
<br>
<app-pie-pagina></app-pie-pagina>


<router-outlet></router-outlet>