.imager{
    height: 55px;
    width: 70px;
    text-align: center;
    margin: auto;
}
.imager2{
    height: 15px;
    width: 30px;
    text-align: center;
    margin: auto;
}

.Centrado {        
    text-align: center;
  }

  .alineado {        
    text-align: left;
  }



